body{
    background-color:darkgrey;
}
.wordCount{
    letter-spacing: 10px;
    font-size: 60pt;
}
.letter{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin:5px;
    background-color: azure;
}
.letter:hover{
    background-color: greenyellow;
}

.statusBar{
    font-family:cursive;
    font-size: 20pt;
}