ul {
    
    max-width:980px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    
}

ul li {
    
    max-width:980px;
    display: inline; 
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: aqua;
}
.wrapper{
    
    max-width:1000px;
    height: auto;
    border: 5px solid black;
    text-align: center;
    margin: 0 auto;
    background-color: chartreuse;
    border-radius: 5px;
}
.card{
    max-width:300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    
}
.card{
    display: inline-block;
}

.card1{
    max-width:300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.card1{
    display: inline-block;
}
.jan{
    max-width:1000px;
    text-align: center;
    margin: 0 auto;
    border:3px solid black;
    border-radius: 5px;
}

@media all and (max-width: 1023px) {
    ul li {
        display: block; 
        max-width:980px;
        text-align: center;
        
    }
}