body{
  background-color: #f3f2ed  ;
}
.container{
  width: 100%;
}
.headRow{
  background-color:rgba(0,0,0,0.08);
}
.header{
  width: 600px;
  height: 88px;
  background-color: #343538  ;
  color: white;
  font-size: 36pt;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 20px;
  margin: 0 auto;
}
.cont{
  width: 600px;
  margin: 0 auto;
  background: url(images/container.png);
    
}
.contText > h3{
    color: #343538;
    font: 600 18px / 18px OpenSans;
}
.contText > p{
    
    color: #a7a7a7;
    font: 500 14px / 22px HelveticaNeue;
}
.w3-btn{
    color: white;
    background: #343538;
    font: 600 14px / 24px OpenSans;
    border: 0;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    height: 36px;
}
.contText{
    padding: 0 30px;
    padding-bottom: 30px;
}
.cont1{
    width: 600px;
    margin: 0 auto;
    background: url(images/container.png);
    margin-top: 20px;
    text-align: center;
    padding-top: 30px;
}
.col-md-4 > h3{
    color: #343538;
    font: 600 18px / 18px OpenSans;
}
.col-md-4 > p{
    color: #a7a7a7;
    font: 500 14px / 22px HelveticaNeue;
}

