html, body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 83px;
    background: url(images/header-bg.png);
}

img.logo {
    padding-top: 24px;
    padding-left: 135px;
    float: left;
}

img.logo:link, img.logo:hover {
    border: 0;
}

h3 {
    color: #464646;
    font: 700 14px "Helvetica";
    
}

hr.spacer {
    background: url(images/Line.png);
    height: 6px;
}

.footer {
    background: url(images/header-bg-copy.png);
    max-height: 348px;
    color: white;
}

.footer > .col-md-3 > h3 {
    color: #ffffff;
    font: 700 16px / 14px "Helvetica";
}

.footer > .col-md-3 > p {
    color: #ffffff;
    font: 400 12px / 14px "Helvetica";
}

.searchBox {
    box-shadow: 0px 1px 0px 0.00px rgba(46, 46, 46, 0.6);
    background-color: #2f2f2f; 
    width: 150px;
    height: 25px;
    border-radius: 10px;
    color: #eee;
    border: 1px solid #464646;
    background-image: url(images/mag-glass.png);
    background-repeat: no-repeat no-repeat;
    background-position: 5px 5px;
    padding-left: 25px;
    margin-top: 30px;
}

:focus {
    outline: none;
}

nav {
    float: left;
    margin-top: 30px;
    min-width: 650px;
}

nav > ul > li {
    display: inline;
    color: #e8e8e8;
    font: 700 12px / 21px "Helvetica";
    
}

nav > ul > li:after {
    content: " ";
    width: 1px;
    background: url(images/left-copy-3.png);
}
.con{
    list-style-type: none;
    padding: 0;
}
.con > li:before{
    content: "- ";
}

nav > ul > li > a {
    color: #e8e8e8;
    font-weight: 700;
    font: 700 12px / 21px "Helvetica";
    padding: 10px 20px;
}

nav > ul > li > a:hover {
    color: #eee;
    font: 700 12px / 21px "Helvetica";
    text-decoration: none;
    background-color: #3e3e3e;
    border: 1px solid black;
    padding: 9px 19px;
    border-radius: 10px;
}

.twitterName, .timer {
    font: 400 12px / 14px "Helvetica";
    color: #999999;
}

.twitterName:before {
    content: "@";
    color: white;
}
.twitterNames:before {
    content: "@";
}

.smallFooterImg {
    height: 40px;
    width: 40px;
    padding-right: 10px;
    margin: 7px;
    background: url(images/img.png);
}

.smallFooterImg:hover {
    border: 2px solid white;
    cursor: pointer;
}
.sub{
    list-style-type: none;
    line-height: 15px;
    padding-left: 0;
    
}

.sub > li > a{
    color: black;
}
.sub > li > a:hover{
    text-decoration: none;
}
.DFooter{
    background: url(images/footer-bottom-line.png);
    bottom: 0px;
    height: 72px;
   
}
img.Dlogo {
    margin-top: 19px;
    padding-left: 135px;
    float: left;
}

img.logo:link, img.logo:hover {
    border: 0;
}
.pion{
    width: 1px;
    height: 34px;
    margin-top: 19px;
    margin-left: 10px;
    float: left;
}
.textFooter{
    width: 600px;
    height: 32px;
    color: #ffffff;
    margin-top: 19px;
    float: left;
    
    
    
}
.textFooter> p {
    font: 400 12px / 14px "Helvetica";
    color: #999999;
}
.copyFooter{
    margin-top: 19px;
    float: left;
    width: 200px;
    height: 32px;
    
    
}
.copyFooter>p{
    font: 400 13px / 14px "Helvetica";
    color: #999999;
}