body{
    background-color: #d6f5d6;

}
.square{
    background-color: #85e085;
    width:150px;
    height: 150px;
    text-align: center;
    padding: 30px;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 40pt;
    padding-top: 40px;
    border-radius: 10px;
    
}
.square:hover{
    background-color: #248f24;
}

.nameGame{
    font-family: cursive;
   
}
.container{
    text-align: center;
    
}