.header{
    background: url(images/Rectangle-3.png);
    height: 89px;
}

.header > ul {
    padding-top: 27px;
    float: left;
    
}
.header > ul > li {
    color: #515862;
    font: 400 14px Ubuntu;
    display: inline;
    list-style-type: none;
   
    
    
}
li.home > a{
    color: white;
    font: 700 15px Ubuntu;
    background-color: #12a3d6;
    padding: 30px 30px;
    border-bottom:15px solid #0080b7;
    background-image: url(images/triangle.png);
    background-position: center bottom;
    background-repeat: no-repeat no-repeat;
}
li.tri > a{
    color: #515862;
    font: 400 14px Ubuntu;
    padding: 45px 30px;
}
li.blog > a{
    padding: 5px 20px;
    border-radius: 5px;
    background: url(images/Shape-308.png);
    color: #ffffff;
    font: 400 14px Ubuntu;
}
.search{
    padding-top: 22px;
    
}
.search > p{
    color: #515862;
    font: 400 12px Ubuntu;
    display: inline;
    margin-left: 100px;
}

:focus{
    outline: none;
}
.circle{
    margin-top: 32px;
    margin-left: 186px;
    float: left;
}
.square{
    margin-top: 32px;
    margin-left: 5px;
    float: left;
}
.logo{
    margin-top: 32px;
    margin-left: 5px;
    margin-right: 150px;
    max-width: 88px;
    float: left;
}
.slid{
    background: url(images/slider.png);
    height: 491px;
    text-align: center;
    
    
}
.slid > h1{
    padding-top: 100px;
    margin: 0;
    color: #cccece;
    font: 400 60px BebasNeue;
    
}
.slid > p {
    padding:40px 100px;
    
    color: #cccece;
    font: 400 14px Ubuntu;
}
.learn{
    background-color: #f98561;
    width: 243px;
    height: 51px;
    border-radius: 5px;
    color: #ffebca;
    font: 400 25px UbuntuCondensed;
    
    
}


