html, body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 83px;
    background: url(images/header-bg.png);
}

img.logo {
    padding-top: 24px;
    padding-left: 135px;
}

img.logo:link, img.logo:hover {
    border: 0;
}

h3 {
    color: #464646;
    font: 700 14px "Helvetica";
    
}

hr.spacer {
    background: url(images/Line.png);
    height: 6px;
}

.footer {
    background: url(images/header-bg-copy.png);
    height: 348px;
    color: white;
}

.footer > .col-md-3 > h3 {
    color: #ffffff;
    font: 700 16px / 14px "Helvetica";
}

.footer > .col-md-3 > p {
    color: #ffffff;
    font: 400 12px / 14px "Helvetica";
}